.index {
    background-image: url(images/asia-map.jpeg);
    height: 150px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

.intro {
    text-align: justify;
}

.menu {
    list-style-position: inside;
    text-align: center;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #4caf50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

