.index {
    background-image: url(images/asia-map.jpeg);
    height: 150px;
}

header {
    background-color: rgba(0, 153, 255, 0.384);
}

h1 {
    font-size: 35px;
    text-align: center;
}

#main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    overflow: auto;
    margin-top: 10px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
} 

.sidebar a.active {
    background-color: #4caf50;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555555;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.blog {
    text-align: justify;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 250px;
}

